<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Justin Caldwell" />
   <link href="/atom.xml" rel="alternate" title="Justin Caldwell" type="application/atom+xml" />

   <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />

   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body>

  <div class="site">
    <div class="title">
      <a href="/"> 
        Justin Caldwell
      </a>
      <a class="extra" href="/">home</a>
    </div>

  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Justin Caldwell<br />
        Cofounder of <a href="http://cntrlshft.com/">Control Shift</a><br />
        justin@cntrlshft.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/justincaldwell/">github.com/justincaldwell</a><br />
        <a href="http://twitter.com/justincaldwell/">twitter.com/justincaldwell</a><br />
        <a href="http://flickr.com/photos/justinsphotos/">flickr.com/photos/justinsphotos</a>
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
    

  </div>

</body>
</html>
